<form action="/productos" method="post">
    Nombre: <input name="nombre">
    img: <input name="img">
    desc: <input name="description">
    stock: <input name="stock">
    <input type="submit" value="Agregar">
</form>